body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    
}


.Profile{
	width: 250px;
	height: 250px;
	position: absolute;
	margin-top: 2%;
	right: 2%;
	border-radius: 4px;
	background-color: azure;


}
.signup{
    width: 850px;
    height: 700px;
    position: relative;
    background: linear-gradient(to bottom, #7aad6d, greenyellow, #7aad6d);
    overflow: hidden;
    box-shadow: 5px 20px 50px #000;
    border-radius: 10px;
}
label[for="Forma"] {
    justify-content: center;
    display: flex;
    font-size: 50px;
    letter-spacing: 5px;
    font-family: 'Jost', sans-serif;
}


input[type="text" i]{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	left: 2%;
	position: absolute;
}
input[type="email" i]{
	width: 60%;
	height: 20px;
	position: absolute;
	background: #e0dede;
	justify-content: center;
	display: flex;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	bottom: 74%;
	left: 2%;
}
input[type="Geolocation" i]{
	width: 60%;
	height: 20px;
	bottom: 62%;
	background: #e0dede;
	display: flex;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	position: absolute;
	left: 2%;
}
input[type="button1"]{
position: absolute;
bottom: 55%;
left: 2%;
}

label[for="contactChoice1"]{
	position: absolute;
	bottom: 54.5%;
	left: 5%;
}

input[type="button2" ]{
	position: absolute;
	bottom: 0%;
	left: 2%;
	}
	
	label[for="contactChoice2"]{
		position: absolute;
		bottom: 54.5%;
		left: 22%;
	}

	input[type="button3"]{
		position: absolute;
		bottom: 55%;
		left: 2%;
		}
		
		label[for="contactChoice3"]{
			position: absolute;
			bottom: 54.5%;
			left: 40%;
		}
		
		

